<div class="d-flex justify-content-around">
    <div class="w-25 p-3" style="background-color: #eee;">
        <h1>Edit <%= current_user.name %></h1>
        <% if flash[:errors] %>
            <div class="alert alert-danger" role="alert" >
                <% flash[:errors].each do |error| %>
                    <p><strong>ERROR</strong> <%= error %></p>
                <% end %>
            </div>
        <% end %>
        <form action="/users/<%= current_user.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="user[name]" value="<%= current_user.name %>">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="user[email]" value="<%= current_user.email %>">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update User</button>
        </form>
    </div>
</div>

