<div class="d-flex flex-wrap align-content-start">
    <div class="w-50 p-3" style="background-color: #eee;">
        <h2><%= current_user.name %></h2> 
        <% if flash[:success] %>
            <div class="alert alert-success" role="alert">
                <p><strong>Success!</strong> <%= flash[:success] %></p>
            </div>
        <% end %>
        <% if flash[:errors] %>
            <div class="alert alert-danger" role="alert" >
                <% flash[:errors].each do |error| %>
                    <p><strong>ERROR</strong> <%= error %></p>
                <% end %>
            </div>
        <% end %>
        <form action="/secrets" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="formGroupExampleInput"><h4>New Secret</h4></label>
                <textarea class="form-control" name="secret[content]" id="exampleFormControlTextarea3" rows="7" placeholder="Write your secret here."></textarea>
                <input type="hidden" name="secret[user_id]" value="<%= current_user.id %>">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="d-flex justify-content-around">
            <div class="p-2">
                <h3>Your Secrets</h3>
                <table class="table table-striped">
                    <tbody>
                        <% current_user.secrets.each do |secret|%>
                            <tr>
                                <td>
                                <%= secret.content %> <br>
                                Likes: <%= secret.likes.count %>
                                </td> 
                                <td> <div class="p-2"><a data-method="delete" href="secrets/<%=     secret. id %>"><button type="submit" class="btn     btn-primary">Delete</button></   a></div></td>    
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="p-2">
                <h3>Liked Secrets</h3>
                <table class="table table-striped">
                    <tbody>
                        <% current_user.secrets_liked.each do |secret| %>
                            <tr>
                                <td>
                                <%= secret.content %> <br>
                                Likes: <%= secret.likes.count %>
                                </td> 
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



