<% if flash[:success] %>
    <div class="alert alert-success" role="alert">
        <p><strong>Success!</strong> <%= flash[:success] %></p>
    </div>
<% end %>
<h1>Secrets</h1>
<% @secrets.each do |secret|%>
<ul class="list-group">
    <% @secrets.each do |secret|%>
        <li class="list-group-item">Likes: <%= @likes %></li>
        <li class="list-group-item"><%= secret.content %></li>
        <% if not secret.users.include?(current_user) %>
            <form action="secrets/<%= secret.id %>/likes" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="like[user_id]" value="<%= current_user.id %>">
            <div class="p-2"><button type="submit" class="btn btn-primary">Like</button></div>
            </form>
        <% else %>
            <div class="p-2"><a data-method="delete" href="secrets/<%= secret.id %>/likes/<%= secret.id %>"><button type="submit" class="btn btn-primary">Unlike</button></a></div>
        <% end %>
    <% end %>
<% end %>
</ul>



    